.brands {
  position: relative;
  display: block;
  padding: 30px 0px;
  &__title {
    margin: 0px 0px 30px 0px;
    @include tablet {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    @include tablet {
      gap: 12px;
    }
  }
  &__btn-slider {
    @include flex-center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid var(--primary);
    transition:
      background-color 0.2s ease,
      color 0.2s ease;
    &._next {
      transform: rotate(180deg);
    }
    @include hover {
      color: white;
      background-color: var(--primary);
    }
    @include tablet {
      width: 40px;
      height: 40px;
    }
  }
  &__slider-arrow {
    width: 24px;
    height: 14px;
    @include tablet {
      width: 18px;
    }
  }
  &__slider {
    .swiper-slide {
      width: auto !important;
    }
  }
  &__logo {
    width: 100%;
  }
}
