.contacts {
  display: block;
  padding: 45px 0px 30px 0px;
  @include mobile {
    .container {
      padding: 0 8px;
    }
  }
  &__head {
    display: flex;
    padding: 20px;
    color: white;
    border-radius: 10px;
    gap: 40px;
    background: url("@img/decor.svg") right 11px bottom -20px / 260px 100% no-repeat;
    background-color: var(--primary);
    margin-bottom: 20px;
    @include laptop-middle {
      flex-wrap: wrap;
      background-image: none;
    }
    @include tablet {
      padding: 20px;
      gap: 20px;
    }
  }
  &__social {
    display: flex;
    padding: 15px 20px;
    background-color: white;
    color: var(--black);
    border-radius: 10px;
    gap: 35px;
    @include laptop-middle {
      width: 100%;
    }
    @include tablet {
      padding: 10px;
      gap: 20px;
      justify-content: center;
    }
  }
  &__social-img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
    @include tablet {
      width: 120px;
      height: 120px;
    }
    @include tablet-min {
      display: none;
    }
  }
  &__social-btn {
    @include flex-between;
    gap: 40px;
    font-size: 30px;
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
  &__social-rect {
    @include flex-center;
    width: 33px;
    height: 33px;
    color: white;
    border-radius: 5px;
    &._wh {
      background-color: var(--primary);
    }
    &._tg {
      background-color: var(--blue);
    }
  }
  &__social-arrow {
    width: 12px;
    height: 12px;
  }
  &__social-content {
    font-size: 20px;
    margin: 35px 0px 0px 0px;
    @include tablet {
      font-size: 16px;
      margin-top: 15px;
    }
  }
  &__info {
    @include tablet {
      width: 100%;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 600;
    margin: 0px 0px 30px 0px;
    @include tablet {
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include mobile {
      max-width: 200px;
      margin: 0 auto;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 18px;
    font-weight: 400;
    @include mobile {
      font-size: 14px;
    }
    a {
      @include hover {
        text-decoration: underline;
      }
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
  &__main {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
  }
  &__main-body {
    padding: 30px;
    border-radius: 10px;
    background-color: var(--a-gray);
    flex: 0 1 calc(50% - 12px);
    @include laptop-min {
      flex: 0 1 100%;
    }
    @include tablet {
      padding: 20px 8px 30px 8px;
    }
  }
  &__main-title {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    @include laptop-middle {
      font-size: 22px;
    }
    @include laptop-min {
      text-align: center;
    }
    @include mobile {
      font-size: 16px;
    }
  }
  &__form {
  }
  &__form-wrapper {
    padding: 8px 15px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    border: 1px solid var(--gallery);
    @include laptop-min {
      padding: 5px 10px;
    }
  }
  &__form-input {
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    flex: 1;
    @include laptop-middle {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
  &__form-btn {
    flex: 0 1 240px;
    min-height: 50px;
    font-size: 18px;
    @include tablet {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
      flex-basis: 140px;
      min-height: 40px;
    }
  }
  &__input-policy {
    display: none;
    &:checked + label {
      &::after {
        display: block;
      }
    }
  }
  &__label-policy {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    padding-left: 25px;
    color: var(--gray);
    margin-top: 10px;

    &::before,
    &::after {
      position: absolute;
      content: "";
    }
    &::before {
      width: 18px;
      height: 18px;
      border-radius: 2px;
      background-color: white;
      left: 0;
      border: 1px solid var(--mercury);
    }
    &::after {
      border-radius: 2px;
      width: 10px;
      height: 10px;
      left: 4px;
      background-color: var(--primary);
      z-index: 1;
      display: none;
    }
  }
  &__map {
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    @include laptop-min {
      height: 240px;
    }
  }
}
