.header {
  background-color: white;
  &__top {
    padding: 6px 0px 12px 0px;
    border-bottom: 1px solid var(--mercury);
    @include tablet-min {
      padding: 0;
    }
  }
  &__nav-list {
    @include flex-between;
    flex-wrap: wrap;
    gap: 20px;
    @include laptop-min {
      justify-content: center;
    }
    li {
      font-size: 14px;
      font-weight: 500;
    }
    a {
      transition: color 0.2s ease;
      @include hover {
        color: var(--primary);
      }
    }
    @include tablet-min {
      row-gap: 15px;
      padding: 0 15px;
      margin-top: 15px;
      padding-bottom: 15px;
      li {
        width: 100%;
        .dropdown-hover__btn {
          font-size: 16px;
          font-weight: 600;
          &._spoller-active {
            &::after {
              transform: rotate(180deg);
            }
          }
          &::after {
            width: 7px;
            height: 7px;
            transition: transform 0.2s ease;
          }
        }
        .dropdown-hover__item {
          position: static;
          background-color: transparent;
          box-shadow: none;
          opacity: 1;
          visibility: visible;
          padding-top: 15px;
          transform: translateY(0);
        }
        .dropdown-hover__el {
          padding: 5px 0px;
        }
      }
    }
  }
  &__city {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__icon-location {
    width: 20px;
    height: 20px;
  }
  &__main {
    padding: 8px 0px;
    background-color: var(--a-gray);
  }
  &__container {
    @include flex-between;
    gap: 20px;
    @media (max-width: 860px) {
      justify-content: start;
    }
  }
  &__logo {
    display: block;
    width: 145px;
    @include laptop-min {
      width: 100px;
    }
    @media (max-width: 600px) {
      width: 110px;
    }
  }
  &__logo-img {
    width: 100%;
  }
  &__catalog {
    position: relative;
  }
  &__catalog-btn {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 10px 15px;
    max-width: 130px;
    width: 100%;
    min-height: 40px;

    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    &.active {
      .header__catalog-burger {
        span {
          position: absolute;
          &:first-child {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            display: none !important;
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
    @include laptop {
      justify-content: center;
      padding: 0;
      width: 40px;
      span {
        display: none;
      }
    }
    @include laptop-min {
      width: 35px;
      min-height: 35px;
    }
    @include mobile {
      border-radius: 3px;
    }
  }
  &__catalog-burger {
    @include flex-center;
    position: relative;
    flex-direction: column;
    width: 20px;
    gap: 3px;
    span {
      display: block !important;
      width: 100%;
      height: 2px;
      border-radius: 8px;
      background-color: currentColor;
      transition: transform .2s ease;
    }
  }
  &__catalog-dropdown {
    position: absolute;
    padding-top: 20px;
    right: 70px;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      visibility 0.3s ease;
    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @include desktop {
      right: auto;
      left: 0;
    }
    @include laptop {
      position: fixed;
      left: 20px;
      max-width: 450px;
      width: 100%;
      bottom: 15px;
      top: 100px;
      padding-top: 0;
      overflow-y: auto;
    }
    @media (max-width: 910px) {
      top: 130px;
    }
    @media (max-width: 860px) {
      background-color: white;
      border-radius: 10px;
      min-width: 250px;
      border: 1px solid var(--mercury);
    }
    @include tablet-min {
      top: 75px;
    }
    @include mobile {
      right: 20px;
      max-width: none;
      width: auto;
    }
  }
  &__catalog-list {
    background-color: white;
    border-radius: 10px;
    min-width: 250px;
    border: 1px solid var(--mercury);
    @media (max-width: 860px) {
      background-color: transparent;
      border-radius: 0px;
      min-width: auto;
      border: none;
    }
  }
  &__catalog-item {
    cursor: pointer;

    font-size: 18px;
    font-weight: 600;

    &:not(:last-child) {
      border-bottom: 1px solid var(--mercury);
    }

    .dropdown-hover__item {
      border-radius: 10px;
      left: 100%;
      border: 1px solid var(--mercury);
      box-shadow: none;
      width: 410px;
      top: 100%;
      @include laptop {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        width: 100%;
        border: none;
        white-space: initial;

        .header__catalog-dropdown-el {
          font-size: 14px;
        }
      }
      &-sub {
        border-radius: 10px;
        left: 100%;
        top: 100%;
        width: 410px;
        border: 1px solid var(--mercury);
        @include laptop {
          position: static;
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          width: 100%;
          border: none;
          .list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-left: 85px;
            padding-bottom: 16px;
          }
          .header__catalog-item {
            &:not(:last-child) {
              border-bottom: none;
            }
          }
          .header__menu-item {
            padding: 0;
            min-height: auto;
          }
          .header__icon-menu {
            display: none;
          }
          .header__catalog-dropdown-el {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
  &__menu-item {
    @include flex-between;
    padding: 5px 20px 5px 15px;
    min-height: 70px;
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }

    &._spoller-active {
      .header__catalog-arrow {
        transform: rotate(270deg);
      }
    }
  }
  &__catalog-arrow {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
    @include laptop {
      width: 25px;
      height: 25px;
      transform: rotate(90deg);
    }
  }
  &__catalog-dropdown-el {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__icon-menu {
    width: 50px;
  }
  &__form-search {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--mercury);
    background-color: white;
    flex: 0 1 385px;
    gap: 10px;
    padding-left: 20px;

    .input {
      font-size: 14px;
      font-weight: 500;
      flex: 1;
    }
    @include laptop-min {
      flex-basis: 300px;
      padding-left: 15px;
    }
    @media (max-width: 860px) {
      flex: 1;
    }
    @media (max-width: 600px) {
      max-width: calc(100% - 30px);
      margin: 15px auto 0px auto;
    }
  }
  &__search-btn {
    @include flex-center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  &__search-icon {
    width: 14px;
    height: 14px;
  }
  &__rent {
    display: flex;
    align-items: center;
    padding: 2px 12px;
    border-radius: 10px;
    border: 1px solid var(--primary);

    font-size: 16px;
    font-weight: 500;
    @include laptop {
      display: none;
    }
  }
  &__rent-icon {
    width: 35px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 600px) {
      margin-left: auto;
    }
  }
  &__tel {
    font-size: 22px;
    font-weight: 500;
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
    @include laptop-middle {
      font-size: 18px;
    }
    @include laptop-min {
      font-size: 16px;
    }
    @include tablet {
      font-size: 15px;
      font-weight: 700;
    }
  }
  &__mail {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary);
    text-decoration: underline;
    @include hover {
      text-decoration: none;
    }
    @include mobile {
      display: none;
    }
  }
  &__call-btn {
    flex: 0 1 165px;
    @media (max-width: 860px) {
      display: block;
      margin: 15px auto 0px auto;
      width: calc(100% - 20px);
    }
  }
}
