.jobs {
  padding: 40px 0px 50px 0px;
  &__title {
    margin: 0px 0px 35px 0px;
  }
  &__content {
    font-size: 16px;
    margin-bottom: 30px;
    @include tablet {
      font-size: 14px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__item {
    display: block;
    width: fit-content;
    color: var(--primary);
    text-decoration: underline;
    font-size: 18px;
    @include hover {
      text-decoration: none;
    }
  }
}
