.stocks {
  padding-bottom: 30px;
  @include tablet {
    background-color: var(--primary);
    padding: 35px 0px 25px 0px;
  }
  &__body {
    padding: 30px;
    border-radius: 20px;
    color: white;
    background: url("@img/decor-2.svg") right 65px bottom 0 / 205px auto no-repeat;
    background-color: var(--primary);
    @include tablet {
      padding: 0;
      background-image: none;
    }
  }
  &__head {
    @include flex-between;
    margin-bottom: 25px;
    .title {
      margin: 0px;
    }
    @include tablet {
      justify-content: center;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    font-weight: 400;
    @include hover {
      .stocks__arrow {
        transform: translate(2px, -2px);
      }
    }
    @include tablet {
      width: fit-content;
      margin: 50px auto 0px auto;
    }
  }
  &__rect {
    @include flex-center;
    border-radius: 5px;
    background-color: white;
    width: 32px;
    height: 32px;
    color: var(--primary);
  }
  &__arrow {
    width: 12px;
    height: 12px;
    transition: transform 0.2s ease;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1056px;
  }
  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 calc(33% - 24px);
    @include laptop-min {
      flex: 0 1 calc(50% - 20px);
    }
    @include tablet-min {
      flex-basis: 100%;
    }
  }
  &__article-img {
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 10px;
  }
  &__article-info {
    flex: 1;
  }
  &__article-date {
    display: block;
    margin-top: 14px;
    font-size: 12px;
    font-weight: 400;
  }
  &__article-title {
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0px 0px 0px;
    @include mobile {
      font-size: 16px;
    }
  }
}
