<section class="catalog">
  <div class="container">
    <ul class="list breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li>Аренда коленчатых подъемников</li>
    </ul>
    <h1 class="title-1 catalog__title">Аренда коленчатых подъемников</h1>
    <div class="catalog__body">
      <aside data-spollers class="catalog__sidebar">
        <a href="#" class="catalog__rent">
          <span>Почасовая аренда подъемника</span>
          <img src="@img/time.png" alt="icon" class="catalog__rent-icon" />
        </a>
        <div class="catalog__sidebar-nav">
          <button class="btn catalog__sidebar-nav-btn active" id="filter-open">Фильтр</button>
          <button class="btn catalog__sidebar-nav-btn" id="catalog-open">Каталог</button>
        </div>
        <div class="catalog__categories" id="catalog-products">
          <a href="#" class="catalog__sidebar-btn">Подъемно-транспортная техника</a>
          <a href="#" class="catalog__sidebar-btn">Пиканиски</a>
          <a href="#" class="catalog__sidebar-btn">Подъемные вышки</a>
          <button data-spoller class="btn catalog__sidebar-btn">
            <span>Подъемники</span>
            <svg class="catalog__sidebar-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <div class="catalog__spoller">
            <ul class="list catalog__categories-list">
              <li>
                <a href="#" class="catalog__categories-sub">Строительные</a>
              </li>
              <li>
                <a href="#" class="catalog__categories-sub">Строительные</a>
              </li>
              <li>
                <a href="#" class="catalog__categories-sub">Строительные</a>
              </li>
              <li>
                <a href="#" class="catalog__categories-sub active">Строительные</a>
              </li>
              <li>
                <a href="#" class="catalog__categories-sub">Строительные</a>
              </li>
              <li>
                <a href="#" class="catalog__categories-sub">Строительные</a>
              </li>
              <li>
                <a href="#" class="catalog__categories-sub">Строительные</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="catalog__filters open" id="filters-products">
          <div class="catalog__filters-item">
            <button data-spoller class="btn catalog__sidebar-btn">
              <span>Цена</span>
              <svg class="catalog__sidebar-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
            <div class="catalog__spoller">
              <div class="catalog__price-inputs">
                <div class="catalog__price-wrapper-input">
                  <input
                    type="number"
                    value="0"
                    id="price-min"
                    class="input catalog__filters-input"
                  />
                  <span>p.</span>
                </div>
                <div class="catalog__price-line"></div>
                <div class="catalog__price-wrapper-input">
                  <input
                    type="number"
                    value="577000"
                    id="price-max"
                    class="input catalog__filters-input"
                  />
                  <span>p.</span>
                </div>
              </div>
              <div
                data-min="0"
                data-max="577000"
                class="catalog__price-range"
                id="price-range"
              ></div>
              <div class="catalog__price-indicator">
                <span id="price-indicator-min">0 р.</span>
                <span id="price-indicator-max">577 000 р.</span>
              </div>
            </div>
          </div>
          <div class="catalog__filters-item">
            <button data-spoller class="btn catalog__sidebar-btn">
              <span>Высота подъема</span>
              <svg class="catalog__sidebar-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
            <div class="catalog__spoller">
              <div data-show="4" class="parent-show catalog__filters-list">
                <input
                  type="text"
                  placeholder="Найти"
                  class="input input-show catalog__filters-input"
                />
                <div class="item-show">
                  <input type="checkbox" id="9.5 м" class="catalog__filters-checkbox" />
                  <label for="9.5 м" class="catalog__filters-filter">9.5 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="10 м" class="catalog__filters-checkbox" />
                  <label for="10 м" class="catalog__filters-filter">10 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="11 м" class="catalog__filters-checkbox" />
                  <label for="11 м" class="catalog__filters-filter">11 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="13 м" class="catalog__filters-checkbox" />
                  <label for="13 м" class="catalog__filters-filter">13 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="14 м" class="catalog__filters-checkbox" />
                  <label for="14 м" class="catalog__filters-filter">14 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="15 м" class="catalog__filters-checkbox" />
                  <label for="15 м" class="catalog__filters-filter">15 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="16 м" class="catalog__filters-checkbox" />
                  <label for="16 м" class="catalog__filters-filter">16 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="17 м" class="catalog__filters-checkbox" />
                  <label for="17 м" class="catalog__filters-filter">17 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="18 м" class="catalog__filters-checkbox" />
                  <label for="18 м" class="catalog__filters-filter">18 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="19 м" class="catalog__filters-checkbox" />
                  <label for="19 м" class="catalog__filters-filter">19 м</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="20 м" class="catalog__filters-checkbox" />
                  <label for="20 м" class="catalog__filters-filter">20 м</label>
                </div>

                <button class="btn btn-show catalog__filters-more">
                  <svg class="catalog__filters-arrow">
                    <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                  </svg>
                  <span>Показать все</span>
                </button>
              </div>
            </div>
          </div>
          <div class="catalog__filters-item">
            <button data-spoller class="btn catalog__sidebar-btn">
              <span>Грузоподъемность</span>
              <svg class="catalog__sidebar-arrow">
                <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
              </svg>
            </button>
            <div class="catalog__spoller">
              <div data-show="4" class="parent-show catalog__filters-list">
                <input
                  type="text"
                  placeholder="Найти"
                  class="input input-show catalog__filters-input"
                />
                <div class="item-show">
                  <input type="checkbox" id="220 кг" class="catalog__filters-checkbox" />
                  <label for="220 кг" class="catalog__filters-filter">220 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="200 кг" class="catalog__filters-checkbox" />
                  <label for="200 кг" class="catalog__filters-filter">200 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="212 кг" class="catalog__filters-checkbox" />
                  <label for="212 кг" class="catalog__filters-filter">212 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="230 кг" class="catalog__filters-checkbox" />
                  <label for="230 кг" class="catalog__filters-filter">230 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="240 кг" class="catalog__filters-checkbox" />
                  <label for="240 кг" class="catalog__filters-filter">240 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="250 кг" class="catalog__filters-checkbox" />
                  <label for="250 кг" class="catalog__filters-filter">250 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="260 кг" class="catalog__filters-checkbox" />
                  <label for="260 кг" class="catalog__filters-filter">260 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="270 кг" class="catalog__filters-checkbox" />
                  <label for="270 кг" class="catalog__filters-filter">270 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="280 кг" class="catalog__filters-checkbox" />
                  <label for="280 кг" class="catalog__filters-filter">280 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="290 кг" class="catalog__filters-checkbox" />
                  <label for="290 кг" class="catalog__filters-filter">290 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="300 кг" class="catalog__filters-checkbox" />
                  <label for="300 кг" class="catalog__filters-filter">300 кг</label>
                </div>

                <div class="item-show">
                  <input type="checkbox" id="301 кг" class="catalog__filters-checkbox" />
                  <label for="301 кг" class="catalog__filters-filter">301 кг</label>
                </div>

                <button class="btn btn-show catalog__filters-more">
                  <svg class="catalog__filters-arrow">
                    <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                  </svg>
                  <span>Показать все</span>
                </button>
              </div>
            </div>
          </div>
          <a href="#" class="catalog__return">
            <svg class="catalog__return-icon">
              <use xlink:href="img/icons/icons.svg#icon-return"></use>
            </svg>
            <span>Сбросить</span>
          </a>
        </div>
      </aside>
      <div class="catalog__main">
        <ul class="list catalog__main-list">
          <li>
            <a href="#" class="catalog__main-btn">Самоходные коленчатые</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Самоходные ножничные</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn active">Мини подъемник</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Подъемник паук</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Вертикальный</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Передвижной</a>
          </li>
        </ul>
        <div class="catalog__products">
          <article class="product">
            <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
            <img src="@img/product.png" alt="image" class="product__img" />
            <div class="product__nav">
              <div class="product__rect">
                <svg class="product__icon-sort">
                  <use xlink:href="img/icons/icons.svg#icon-sort"></use>
                </svg>
              </div>
              <span class="product__price">от 3200 руб / сут.</span>
            </div>
            <ul class="list product__list">
              <li>
                <span>Рабочая высота (м):</span>
                16.7
              </li>
              <li>
                <span>Грузоподъемность (кг):</span>
                250
              </li>
              <li>
                <span>Вес:</span>
                1970 кг
              </li>
            </ul>
            <a href="#" class="product__btn">Арендовать / купить</a>
          </article>
          <article class="product">
            <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
            <img src="@img/product.png" alt="image" class="product__img" />
            <div class="product__nav">
              <div class="product__rect">
                <svg class="product__icon-sort">
                  <use xlink:href="img/icons/icons.svg#icon-sort"></use>
                </svg>
              </div>
              <span class="product__price">от 3200 руб / сут.</span>
            </div>
            <ul class="list product__list">
              <li>
                <span>Рабочая высота (м):</span>
                16.7
              </li>
              <li>
                <span>Грузоподъемность (кг):</span>
                250
              </li>
              <li>
                <span>Вес:</span>
                1970 кг
              </li>
            </ul>
            <a href="#" class="product__btn">Арендовать / купить</a>
          </article>
          <article class="product">
            <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
            <img src="@img/product.png" alt="image" class="product__img" />
            <div class="product__nav">
              <div class="product__rect">
                <svg class="product__icon-sort">
                  <use xlink:href="img/icons/icons.svg#icon-sort"></use>
                </svg>
              </div>
              <span class="product__price">от 3200 руб / сут.</span>
            </div>
            <ul class="list product__list">
              <li>
                <span>Рабочая высота (м):</span>
                16.7
              </li>
              <li>
                <span>Грузоподъемность (кг):</span>
                250
              </li>
              <li>
                <span>Вес:</span>
                1970 кг
              </li>
            </ul>
            <a href="#" class="product__btn">Арендовать / купить</a>
          </article>
          <article class="product">
            <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
            <img src="@img/product.png" alt="image" class="product__img" />
            <div class="product__nav">
              <div class="product__rect">
                <svg class="product__icon-sort">
                  <use xlink:href="img/icons/icons.svg#icon-sort"></use>
                </svg>
              </div>
              <span class="product__price">от 3200 руб / сут.</span>
            </div>
            <ul class="list product__list">
              <li>
                <span>Рабочая высота (м):</span>
                16.7
              </li>
              <li>
                <span>Грузоподъемность (кг):</span>
                250
              </li>
              <li>
                <span>Вес:</span>
                1970 кг
              </li>
            </ul>
            <a href="#" class="product__btn">Арендовать / купить</a>
          </article>
        </div>
        <div class="pagination catalog__pagination">
          <a href="#" class="pagination__btn"> < </a>
          <a href="#" class="pagination__btn active"> 1 </a>
          <a href="#" class="pagination__btn"> 3 </a>
          <a href="#" class="pagination__btn"> ... </a>
          <a href="#" class="pagination__btn"> 11 </a>
          <a href="#" class="pagination__btn"> > </a>
        </div>
        <ul class="list catalog__main-list">
          <li>
            <a href="#" class="catalog__main-btn">Самоходные коленчатые</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Самоходные ножничные</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Мини подъемник</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Подъемник паук</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Вертикальный</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Передвижной</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Самоходные коленчатые</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Самоходные ножничные</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Мини подъемник</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Подъемник паук</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Вертикальный</a>
          </li>
          <li>
            <a href="#" class="catalog__main-btn">Передвижной</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
