<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <nav class="footer__nav">
        <div class="footer__item">
          <h5 class="footer__item-title">Продажа техники</h5>
          <ul class="list footer__item-list">
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h5 class="footer__item-title">Продажа техники</h5>
          <ul class="list footer__item-list">
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h5 class="footer__item-title">Продажа техники</h5>
          <ul class="list footer__item-list">
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
          </ul>
        </div>
        <div class="footer__item">
          <h5 class="footer__item-title">Продажа техники</h5>
          <ul class="list footer__item-list">
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
            <li><a href="#">Подъемники</a></li>
          </ul>
        </div>
      </nav>
			<div class="footer__bottom">
				<p class="footer__copyright">2021-2023 © Монти. Все права защищены. </p>
				<a href="#" class="footer__policy">Политика конфиденциальности</a>
			</div>
    </div>
  </div>
</footer>
