<section class="intro">
  <div class="container">
    <div class="intro__nav">
      <h2 class="intro__nav-title">Аренда</h2>
      <button class="btn intro__nav-btn" id="rent-sale-btn"></button>
      <h2 class="intro__nav-title">Продажа</h2>
    </div>
    <div class="intro__body active" id="rent">
      <a href="#" class="intro__link">
        <span class="intro__link-title">АРЕНДА ПОДЪЕМНИКОВ</span>
        <div class="intro__link-rect">
          <svg class="intro__link-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </div>
      </a>
      <div class="intro__wrapper">
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
      </div>
    </div>
    <div class="intro__body" id="sale">
      <a href="#" class="intro__link">
        <h5 class="intro__link-title">ПРОДАЖА ПОДЪЕМНИКОВ</h5>
        <div class="intro__link-rect">
          <svg class="intro__link-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </div>
      </a>
      <div class="intro__wrapper">
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
        <a href="#" class="intro__item">
          <h5 class="intro__item-title">Ножничные</h5>
          <img src="@img/intro-icon.png" alt="icon" class="intro__item-img" />
        </a>
      </div>
    </div>
    <ul class="list intro__advantages">
      <li class="intro__advantages-item">
        <div class="intro__advantages-rect">
          <img src="@img/adv.svg" alt="image" class="intro__advantages-icon" />
        </div>
        <span
          ><strong>Более 500 ед.</strong> <br />
          новой техники</span
        >
      </li>
      <li class="intro__advantages-item">
        <div class="intro__advantages-rect">
          <img src="@img/adv.svg" alt="image" class="intro__advantages-icon" />
        </div>
        <span
          ><strong>Скидки до 30% </strong> при <br />
          долгосрочной аренде</span
        >
      </li>
      <li class="intro__advantages-item">
        <div class="intro__advantages-rect">
          <img src="@img/adv.svg" alt="image" class="intro__advantages-icon" />
        </div>
        <span>
          <strong>Скидки до 30% </strong> при <br />
          долгосрочной аренде
        </span>
      </li>
      <li class="intro__advantages-item">
        <div class="intro__advantages-rect">
          <img src="@img/adv.svg" alt="image" class="intro__advantages-icon" />
        </div>
        <span>
          <strong>Скидки до 30% </strong> при <br />
          долгосрочной аренде
        </span>
      </li>
    </ul>
  </div>
</section>
