<section class="news">
  <div class="container">
    <ul class="list breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li>Новости</li>
    </ul>
    <h1 class="title-1 news__title">Новости</h1>
    <ul class="list news__list">
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
      <li>
        <a href="#" class="news__item">Как ремонтировать подъемник?</a>
      </li>
    </ul>
  </div>
</section>
