<section class="product-main">
  <div class="container">
    <ul class="list breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="/">Аренда коленчатых подъемников</a></li>
      <li>haulotte compact 10</li>
    </ul>
    <h1 class="title-1 product-main__title">Ножничный подъемник Haulotte Compact 10</h1>
    <div class="product-main__body">
      <div class="product-main__gallery">
        <div class="swiper product-main__slider">
          <div class="swiper-wrapper">
            <a href="@img/product.jpg" data-fancybox="product-main-gallery" class="swiper-slide">
              <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
            </a>
            <a href="@img/product.jpg" data-fancybox="product-main-gallery" class="swiper-slide">
              <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
            </a>
            <a href="@img/product.jpg" data-fancybox="product-main-gallery" class="swiper-slide">
              <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
            </a>
            <a href="@img/product.jpg" data-fancybox="product-main-gallery" class="swiper-slide">
              <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
            </a>
            <a href="@img/product.jpg" data-fancybox="product-main-gallery" class="swiper-slide">
              <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
            </a>
            <a href="@img/product.jpg" data-fancybox="product-main-gallery" class="swiper-slide">
              <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
            </a>
          </div>
        </div>
        <div class="product-main__slider-nav">
          <button class="btn product-main__slider-btn">
            <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
          </button>
          <button class="btn product-main__slider-btn">
            <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
          </button>
          <button class="btn product-main__slider-btn">
            <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
          </button>
          <button class="btn product-main__slider-btn">
            <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
          </button>
          <button class="btn product-main__slider-btn">
            <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
          </button>
          <button class="btn product-main__slider-btn">
            <img src="@img/product.jpg" alt="image" class="product-main__slider-img" />
          </button>
        </div>
      </div>
      <div class="product-main__info">
        <div class="product-main__head">
          <table class="product-main__table">
            <tbody>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
              <tr class="product-main__table-item">
                <td>Грузоподъемность</td>
                <td>500 кг.</td>
              </tr>
            </tbody>
          </table>
          <div class="product-main__price">
            <h3 class="product-main__price-title">Цена: 12 000 000 руб.</h3>
            <div class="product-main__price-body">
              <h5 class="product-main__price-subtitle">Условия аренды</h5>
              <ul class="list product-main__price-list">
                <li>от 10 дней - 2000 руб / сутки</li>
                <li>от 10 дней - 2000 руб / сутки</li>
                <li>от 10 дней - 2000 руб / сутки</li>
                <li>от 10 дней - 2000 руб / сутки</li>
                <li>от 10 дней - 2000 руб / сутки</li>
                <li>от 10 дней - 2000 руб / сутки</li>
              </ul>
              <button
                data-modal="buy"
                class="btn btn-modal btn-main _white product-main__price-btn"
              >
                Купить / арендовать
              </button>
            </div>
          </div>
        </div>
        <div class="product-main__content">
          <p>
            Lorem ipsum dolor sit amet consectetur. Augue mi fermentum cursus sed. Nunc ac id duis
            cursus ridiculus aliquet sapien amet. Pellentesque et nisl eu mauris nullam mattis nunc.
            Penatibus odio cursus aenean volutpat elementum. Lobortis quam amet odio ultricies in
            vivamus semper urna. Hac lectus blandit volutpat varius ut varius quis id nulla. Nisi
            ornare accumsan pretium convallis et amet consectetur. Amet volutpat ullamcorper neque
            eget dolor aliquam vel odio. Tortor facilisi eu adipiscing donec egestas.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur. Augue mi fermentum cursus sed. Nunc ac id duis
            cursus ridiculus aliquet sapien amet. Pellentesque et nisl eu mauris nullam mattis nunc.
            Penatibus odio cursus aenean volutpat elementum. Lobortis quam amet odio ultricies in
            vivamus semper urna. Hac lectus blandit volutpat varius ut varius quis id nulla. Nisi
            ornare accumsan pretium convallis et amet consectetur. Amet volutpat ullamcorper neque
            eget dolor aliquam vel odio. Tortor facilisi eu adipiscing donec egestas.
          </p>
        </div>
        <div class="product-main__tabs tab-container">
          <div class="product-main__tabs-nav">
            <button data-tab="specifications-product" class="btn btn-tab product-main__btn-tab">Характеристики</button>
            <button data-tab="description-product" class="btn btn-tab product-main__btn-tab">Характеристики</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
