<section class="rec">
  <div class="container">
    <div class="rec__head">
      <h2 class="title title-2">Каталог складской техники</h2>
      <a href="#" class="btn-main _stroke rec__head-btn">Весь каталог</a>
    </div>
    <div class="rec__products">
      <article class="product">
        <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
        <img src="@img/product.png" alt="image" class="product__img" />
        <div class="product__nav">
          <div class="product__rect">
            <svg class="product__icon-sort">
              <use xlink:href="img/icons/icons.svg#icon-sort"></use>
            </svg>
          </div>
          <span class="product__price">от 3200 руб / сут.</span>
        </div>
        <ul class="list product__list">
          <li>
            <span>Рабочая высота (м):</span>
            16.7
          </li>
          <li>
            <span>Грузоподъемность (кг):</span>
            250
          </li>
          <li>
            <span>Вес:</span>
            1970 кг
          </li>
        </ul>
        <a href="#" class="product__btn">Арендовать / купить</a>
      </article>
      <article class="product">
        <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
        <img src="@img/product.png" alt="image" class="product__img" />
        <div class="product__nav">
          <div class="product__rect">
            <svg class="product__icon-sort">
              <use xlink:href="img/icons/icons.svg#icon-sort"></use>
            </svg>
          </div>
          <span class="product__price">от 3200 руб / сут.</span>
        </div>
        <ul class="list product__list">
          <li>
            <span>Рабочая высота (м):</span>
            16.7
          </li>
          <li>
            <span>Грузоподъемность (кг):</span>
            250
          </li>
          <li>
            <span>Вес:</span>
            1970 кг
          </li>
        </ul>
        <a href="#" class="product__btn">Арендовать / купить</a>
      </article>
      <article class="product">
        <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
        <img src="@img/product.png" alt="image" class="product__img" />
        <div class="product__nav">
          <div class="product__rect">
            <svg class="product__icon-sort">
              <use xlink:href="img/icons/icons.svg#icon-sort"></use>
            </svg>
          </div>
          <span class="product__price">от 3200 руб / сут.</span>
        </div>
        <ul class="list product__list">
          <li>
            <span>Рабочая высота (м):</span>
            16.7
          </li>
          <li>
            <span>Грузоподъемность (кг):</span>
            250
          </li>
          <li>
            <span>Вес:</span>
            1970 кг
          </li>
        </ul>
        <a href="#" class="product__btn">Арендовать / купить</a>
      </article>
      <article class="product">
        <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
        <img src="@img/product.png" alt="image" class="product__img" />
        <div class="product__nav">
          <div class="product__rect">
            <svg class="product__icon-sort">
              <use xlink:href="img/icons/icons.svg#icon-sort"></use>
            </svg>
          </div>
          <span class="product__price">от 3200 руб / сут.</span>
        </div>
        <ul class="list product__list">
          <li>
            <span>Рабочая высота (м):</span>
            16.7
          </li>
          <li>
            <span>Грузоподъемность (кг):</span>
            250
          </li>
          <li>
            <span>Вес:</span>
            1970 кг
          </li>
        </ul>
        <a href="#" class="product__btn">Арендовать / купить</a>
      </article>
      <article class="product">
        <span class="product__title">Ножничный подъемник Haulotte Compact 10</span>
        <img src="@img/product.png" alt="image" class="product__img" />
        <div class="product__nav">
          <div class="product__rect">
            <svg class="product__icon-sort">
              <use xlink:href="img/icons/icons.svg#icon-sort"></use>
            </svg>
          </div>
          <span class="product__price">от 3200 руб / сут.</span>
        </div>
        <ul class="list product__list">
          <li>
            <span>Рабочая высота (м):</span>
            16.7
          </li>
          <li>
            <span>Грузоподъемность (кг):</span>
            250
          </li>
          <li>
            <span>Вес:</span>
            1970 кг
          </li>
        </ul>
        <a href="#" class="product__btn">Арендовать / купить</a>
      </article>
    </div>
  </div>
</section>
