<section class="reviews">
  <div class="container">
    <div class="reviews__head">
      <h2 class="title title-2">Отзывы и благодарности</h2>
      <a data-da=".stocks__body, 576" href="#" class="reviews__all-btn">
        <span>Смотреть все</span>
        <div class="reviews__all-rect">
          <svg class="reviews__all-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="@img/review.jpg" data-fancybox="reviews" class="reviews__gallery-btn">
            <img src="@img/review.jpg" alt="image" class="reviews__img" />
          </a>
          <h5 class="reviews__gallery-title">Название компании</h5>
        </div>
        <div class="swiper-slide">
          <a href="@img/review.jpg" data-fancybox="reviews" class="reviews__gallery-btn">
            <img src="@img/review.jpg" alt="image" class="reviews__img" />
            <div class="reviews__btn-play">
              <svg class="reviews__icon-play">
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </div>
          </a>
          <h5 class="reviews__gallery-title">Название компании</h5>
        </div>
        <div class="swiper-slide">
          <a href="@img/review.jpg" data-fancybox="reviews" class="reviews__gallery-btn">
            <img src="@img/review.jpg" alt="image" class="reviews__img" />
          </a>
          <h5 class="reviews__gallery-title">Название компании</h5>
        </div>
        <div class="swiper-slide">
          <a href="@img/review.jpg" data-fancybox="reviews" class="reviews__gallery-btn">
            <img src="@img/review.jpg" alt="image" class="reviews__img" />
            <div class="reviews__btn-play">
              <svg class="reviews__icon-play">
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </div>
          </a>
          <h5 class="reviews__gallery-title">Название компании</h5>
        </div>
        <div class="swiper-slide">
          <a href="@img/review.jpg" data-fancybox="reviews" class="reviews__gallery-btn">
            <img src="@img/review.jpg" alt="image" class="reviews__img" />
          </a>
          <h5 class="reviews__gallery-title">Название компании</h5>
        </div>
        <div class="swiper-slide">
          <a href="@img/review.jpg" data-fancybox="reviews" class="reviews__gallery-btn">
            <img src="@img/review.jpg" alt="image" class="reviews__img" />
            <div class="reviews__btn-play">
              <svg class="reviews__icon-play">
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </div>
          </a>
          <h5 class="reviews__gallery-title">Название компании</h5>
        </div>
        <div class="swiper-slide">
          <a href="@img/review.jpg" data-fancybox="reviews" class="reviews__gallery-btn">
            <img src="@img/review.jpg" alt="image" class="reviews__img" />
          </a>
          <h5 class="reviews__gallery-title">Название компании</h5>
        </div>
        <div class="swiper-slide">
          <a href="@img/review.jpg" data-fancybox="reviews" class="reviews__gallery-btn">
            <img src="@img/review.jpg" alt="image" class="reviews__img" />
            <div class="reviews__btn-play">
              <svg class="reviews__icon-play">
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </div>
          </a>
          <h5 class="reviews__gallery-title">Название компании</h5>
        </div>
      </div>
    </div>
  </div>
</section>
