<section class="seo">
  <div class="container seo__container">
    <div class="seo__item">
      <h2 class="title-2 seo__title">Аренда складского оборудования и техники</h2>
      <div class="seo__content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Augue mi fermentum cursus sed. Nunc ac id duis
          cursus ridiculus aliquet sapien amet. Pellentesque et nisl eu mauris nullam mattis nunc.
          Penatibus odio cursus aenean volutpat elementum. Lobortis quam amet odio ultricies in
          vivamus semper urna. Hac lectus blandit volutpat varius ut varius quis id nulla. Nisi
          ornare accumsan pretium convallis et amet consectetur. Amet volutpat ullamcorper neque
          eget dolor aliquam vel odio. Tortor facilisi eu adipiscing donec egestas.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Augue mi fermentum cursus sed. Nunc ac id duis
          cursus ridiculus aliquet sapien amet. Pellentesque et nisl eu mauris nullam mattis nunc.
          Penatibus odio cursus aenean volutpat elementum. Lobortis quam amet odio ultricies in
          vivamus semper urna. Hac lectus blandit volutpat varius ut varius quis id nulla. Nisi
          ornare accumsan pretium convallis et amet consectetur. Amet volutpat ullamcorper neque
          eget dolor aliquam vel odio. Tortor facilisi eu adipiscing donec egestas.
        </p>
      </div>
    </div>
    <div class="seo__item">
      <h2 class="title-2 seo__title">Заголовок H2</h2>
      <div class="seo__content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Augue mi fermentum cursus sed. Nunc ac id duis
          cursus ridiculus aliquet sapien amet. Pellentesque et nisl eu mauris nullam mattis nunc.
          Penatibus odio cursus aenean volutpat elementum. Lobortis quam amet odio ultricies in
          vivamus semper urna. Hac lectus blandit volutpat varius ut varius quis id nulla. Nisi
          ornare accumsan pretium convallis et amet consectetur. Amet volutpat ullamcorper neque
          eget dolor aliquam vel odio. Tortor facilisi eu adipiscing donec egestas.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur. Augue mi fermentum cursus sed. Nunc ac id duis
          cursus ridiculus aliquet sapien amet. Pellentesque et nisl eu mauris nullam mattis nunc.
          Penatibus odio cursus aenean volutpat elementum. Lobortis quam amet odio ultricies in
          vivamus semper urna. Hac lectus blandit volutpat varius ut varius quis id nulla. Nisi
          ornare accumsan pretium convallis et amet consectetur. Amet volutpat ullamcorper neque
          eget dolor aliquam vel odio. Tortor facilisi eu adipiscing donec egestas.
        </p>
      </div>
    </div>
  </div>
</section>
