.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-main {
  min-height: 40px;
  background-color: var(--primary);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--primary);

  color: white;
  font-size: 14px;
  font-weight: 500;
  transition: color .2s ease, background-color .2s ease;
  @include hover {
    background-color: transparent;
    color: var(--primary);
  }
}
