.product {
  border-radius: 10px;
  border: 1px solid var(--mercury);
  padding: 14px;
  &__title {
    text-align: center;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__rect {
    @include flex-center;
    width: 40px;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--a-gray);
  }
  &__icon-sort {
    width: 18px;
    height: 18px;
    color: var(--primary);
  }
  &__price {
    display: block;
    font-size: 18px;
    font-weight: 700;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 12px;
    border-radius: 0px 10px 0px 0px;
    background-color: var(--a-gray);

    li {
      font-size: 14px;
      font-weight: 500;
      span {
        color: var(--gray);
        font-weight: 400;
      }
    }
  }
  &__btn {
    @include flex-center;
    min-height: 32px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--primary);
    color: white;

    font-size: 16px;
    font-weight: 700;
    transition: background-color .2s ease;
  }
}
