.modal-rent {
  &__product {
    margin-bottom: 22px;
    display: flex;
    gap: 15px;
  }
  &__product-img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    object-fit: cover;
  }
  &__product-title {
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
  }
  &__product-price {
    font-size: 16px;
    font-weight: 700;
  }
}
